In [ ]:
import pandas as pd

# Load the dataset using pd.read_excel for .xlsx files
df = pd.read_excel('sales_data.xlsx')  # Use read_excel for Excel files

# Convert 'OrderDate' to datetime
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

# Display basic information about the dataset
print(df.head())
print(df.info())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

   ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0 2003-02-24  Shipped       1         2     2003  ...
1 2003-07-05  Shipped       2         5     2003  ...
2 2003-01-07  Shipped       3         7     2003  ...
3 2003-08-25  Shipped       3         8     2003  ...
4 2003-10-10  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 551.5+ KB
None

In [ ]:
# Group by ProductCategory to get total sales and quantity per category
category_summary = df.groupby('PRODUCTLINE').agg({'SALES': 'sum', 'QUANTITYORDERED': 'sum'}).reset_index()

print(summary)
print(category_summary)

         ORDERNUMBER  QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER  \
count    2823.000000      2823.000000  2823.000000      2823.000000
unique           NaN              NaN          NaN              NaN
top              NaN              NaN          NaN              NaN
freq             NaN              NaN          NaN              NaN
mean    10258.725115        35.092809    83.658544         6.466171
min     10100.000000         6.000000    26.880000         1.000000
25%     10180.000000        27.000000    68.860000         3.000000
50%     10262.000000        35.000000    95.700000         6.000000
75%     10333.500000        43.000000   100.000000         9.000000
max     10425.000000        97.000000   100.000000        18.000000
std        92.085478         9.741443    20.174277         4.225841

               SALES                      ORDERDATE   STATUS       QTR_ID  \
count    2823.000000                           2823     2823  2823.000000
unique           NaN                            NaN        6          NaN
top              NaN                            NaN  Shipped          NaN
freq             NaN                            NaN     2617          NaN
mean     3553.889072  2004-04-25 07:13:04.272050944      NaN     2.717676
min       482.130000            2003-01-04 00:00:00      NaN     1.000000
25%      2203.430000            2003-10-22 00:00:00      NaN     2.000000
50%      3184.800000            2004-05-05 00:00:00      NaN     3.000000
75%      4508.000000            2004-11-15 00:00:00      NaN     4.000000
max     14082.800000            2005-12-01 00:00:00      NaN     4.000000
std      1841.865106                            NaN      NaN     1.203878

           MONTH_ID     YEAR_ID  ...        ADDRESSLINE1  ADDRESSLINE2  \
count   2823.000000  2823.00000  ...                2823           302
unique          NaN         NaN  ...                  92             9
top             NaN         NaN  ...  C/ Moralzarzal, 86       Level 3
freq            NaN         NaN  ...                 259            55
mean       7.092455  2003.81509  ...                 NaN           NaN
min        1.000000  2003.00000  ...                 NaN           NaN
25%        4.000000  2003.00000  ...                 NaN           NaN
50%        8.000000  2004.00000  ...                 NaN           NaN
75%       11.000000  2004.00000  ...                 NaN           NaN
max       12.000000  2005.00000  ...                 NaN           NaN
std        3.656633     0.69967  ...                 NaN           NaN

          CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
count     2823  1337     2747.0    2823      1749            2823
unique      73    16       73.0      19         3              77
top     Madrid    CA    28034.0     USA      EMEA          Freyre
freq       304   416      259.0    1004      1407             259
mean       NaN   NaN        NaN     NaN       NaN             NaN
min        NaN   NaN        NaN     NaN       NaN             NaN
25%        NaN   NaN        NaN     NaN       NaN             NaN
50%        NaN   NaN        NaN     NaN       NaN             NaN
75%        NaN   NaN        NaN     NaN       NaN             NaN
max        NaN   NaN        NaN     NaN       NaN             NaN
std        NaN   NaN        NaN     NaN       NaN             NaN

       CONTACTFIRSTNAME  DEALSIZE
count              2823      2823
unique               72         3
top               Diego    Medium
freq                259      1384
mean                NaN       NaN
min                 NaN       NaN
25%                 NaN       NaN
50%                 NaN       NaN
75%                 NaN       NaN
max                 NaN       NaN
std                 NaN       NaN

[11 rows x 25 columns]
        PRODUCTLINE       SALES  QUANTITYORDERED
0      Classic Cars  3919615.66            33992
1       Motorcycles  1166388.34            11663
2            Planes   975003.57            10727
3             Ships   714437.13             8127
4            Trains   226243.47             2712
5  Trucks and Buses  1127789.84            10777
6      Vintage Cars  1903150.84            21069

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Prepare data for modeling
X = df[['QUANTITYORDERED']]  # Use the correct column name 'QUANTITYORDERED'
y = df['SALES']  # Use the correct column name 'SALES'

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Predict for the entire dataset
df['PredictedSales'] = model.predict(df[['QUANTITYORDERED']])  # Use the correct column name here as well

Mean Squared Error: 2920934.901202212

In [ ]:
pip install dash plotly

Collecting dash
  Downloading dash-2.17.1-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Requirement already satisfied: Flask<3.1,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash) (2.2.5)
Requirement already satisfied: Werkzeug<3.1 in /usr/local/lib/python3.10/dist-packages (from dash) (3.0.4)
Collecting dash-html-components==2.0.0 (from dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from dash)
  Downloading dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.10/dist-packages (from dash) (8.4.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from dash) (4.12.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from dash) (2.32.3)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from dash) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from dash) (71.0.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (24.1)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->dash) (3.1.4)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->dash) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->dash) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from Werkzeug<3.1->dash) (2.1.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata->dash) (3.20.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->dash) (2024.7.4)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from retrying->dash) (1.16.0)
Downloading dash-2.17.1-py3-none-any.whl (7.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 56.7 MB/s eta 0:00:00
Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: dash-table, dash-html-components, dash-core-components, retrying, dash
Successfully installed dash-2.17.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import plotly.graph_objects as go
from dash.dependencies import Input, Output

# Initialize the Dash app
app = dash.Dash(__name__)

# Create interactive plots
# Use the correct column name 'ORDERDATE'
fig_sales_time = px.line(df, x='ORDERDATE', y='SALES', title='Sales Over Time')
fig_category = px.bar(category_summary, x='PRODUCTLINE', y='SALES', title='Sales by Category')

# Scatter plot for Quantity vs Predicted Sales
# Use the correct column names 'QUANTITYORDERED' and 'PredictedSales'
fig_quantity_vs_predicted = go.Figure()
fig_quantity_vs_predicted.add_trace(go.Scatter(x=df['QUANTITYORDERED'], y=df['PredictedSales'], mode='markers', name='Predicted Sales'))
fig_quantity_vs_predicted.update_layout(title='Quantity vs Predicted Sales', xaxis_title='Quantity', yaxis_title='Predicted Sales')

# Define the app layout
app.layout = html.Div([
    html.H1('Sales Dashboard'),

    dcc.Graph(id='sales-time', figure=fig_sales_time),
    dcc.Graph(id='sales-category', figure=fig_category),
    dcc.Graph(id='quantity-vs-predicted-sales', figure=fig_quantity_vs_predicted)
])

if __name__ == '__main__':
    app.run_server(debug=True)

/usr/local/lib/python3.10/dist-packages/_plotly_utils/basevalidators.py:105: FutureWarning:

The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result